* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.5s ease;
  background-color: var(--bg-color);
}

.App {
  text-align: center;
  direction: rtl;
}

@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Alexandria;
  src: url(/public/fonts/Alexandria-Medium.ttf);
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #607d8b;
  border-radius: 2px 0px 0px 2px;
}